<p>login works!</p>

<button class="route-button" routerLink="/generateqr" routerLinkActive="active">generateqr</button>
<button class="route-button" routerLink="/getqr" routerLinkActive="active">getqr</button>
<button class="route-button" routerLink="/registervisitor" routerLinkActive="active">registervisitor</button>
<button class="route-button" routerLink="/validate" routerLinkActive="active">validate</button>
<button class="route-button" routerLink="/" routerLinkActive="active">Login</button> 
<button class="route-button" routerLink="/register" routerLinkActive="active">register</button> 
<router-outlet></router-outlet>
